---
import "../styles/global.css";
---

<footer class="bg-indigo-900 text-white text-sm py-3 mt-6 px-4">
    <div class="max-w-4xl mx-auto flex flex-col md:flex-row items-center justify-between gap-4">
  
      <div class="text-center md:text-left space-y-1">
        <p><strong>Email:</strong> <a href="mailto:francesca.scanu196@email.com" class="underline hover:text-yellow-300">francesca.scanu196@email.com</a></p>
        <p><strong>Telefono:</strong> <a href="tel:+393408961251" class="underline hover:text-yellow-300">+39 340 896 1251</a></p>
      </div>
  
      <div class="flex items-center gap-2">

        <a 
          href="https://instagram.com/fran.ashtanga" 
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 hover:text-yellow-300 transition"
        >
          <iconify-icon icon="mdi:instagram" width="24" height="24"></iconify-icon>
          <span>@fran.ashtanga</span>
        </a>
      </div>
      <p class="text-sm text-center text-gray-300 mt-4">© 2025 Tutti i diritti riservati.       <a href="/privacy" class="hover:underline">Leggi Privacy</a>
      </p>


    </div>
  </footer>
  

  